# This is a comment.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence,

# @global-owner1 and @global-owner2 will be requested for

# review when someone opens a pull request.
* @naolt
- @ibsa21

# Teams can be specified as code owners as well. Teams should

# be identified in the format @org/team-name. Teams must have

# explicit write access to the repository. In this example,

# the octocats team in the octo-org organization owns all .txt files.

/eskalate_mobile/ @A2SV/eskalate_mobile_approvers
/eskalate_backend/ @A2SV/eskalate_backend_approvers
/eskalate_web/ @A2SV/eskalate_web_approvers
