.container {
    background: linear-gradient(
        89deg,
        #e9f4fe 7.39%,
        rgba(233, 244, 254, 0.26) 101.6%
    );
}

/* General questions */
.chevron {
    &[data-rotate] {
        transform: rotate(45deg);
    }
}

.icon {
    width: 16px;
    height: 16px;
}

/* Page style */
.text {
    cursor: pointer;
}

.text:hover {
    color: var(--mantine-color-blue-5);
}
