.firstScreenContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstScreenContainerMoto {
    text-align: 'left';
    @media (max-width: $mantine-breakpoint-md) {
        text-align: center;
    }
}

.firstScreenContainerText {
    text-align: 'left';
    @media (max-width: $mantine-breakpoint-md) {
        text-align: center;
    }
}

.firstScreenButtonContainer {
    /*margin-top: 20px;*/
    width: 100%;
    display: flex;
    justify-content: flex-start;
    @media (max-width: $mantine-breakpoint-md) {
        justify-content: center;
    }
}
