.page {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.logo {
    background-color: var(--mantine-color-primary-6);
    color: white;
    height: 100%;
    padding: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    gap: 8px;
}

.header {
    font-size: 20px;
    color: white;
    text-align: center;
}

.mainLogoImg {
    width: 600px;
}

.calendlyStyle {
    /* background : green; */
    width: 100%;
    height: 100vh;
}

.pattern {
    position: absolute;
    top: 0;
    right: 0;
    height: 50%;
    /* background : red; */
    /* padding : 20px */
}

.patternImg {
    /* position : absolute;
    top : 0;
    right : 0; */
    height: 450px;
}

.pattern2Img {
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 100px;
}

.logoImg {
    height: 100%;
    max-width: 1400px;
    object-fit: cover;
}

.logoImgResponsive {
    display: none;
}

.input {
    border: 1px solid var(--mantine-color-primary-6);
    background-color: rgba(35, 166, 240, 0.05);
}

.signup {
    height: 100vh;
    display: flex;
    /* gap: 32px; */
    /* padding: 120px 40px; */
    /* justify-content: center; */
    /* background : red; */
    width: 100%;
    /* overflow: auto; */
}

.signupText {
    font-size: 25px;
    width: 100%;
}

.main_info {
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    justify-content: start;
}

/* .main_info div{
    overflow-wrap: break-word;
} */

.inputStyle input {
    border: none !important;
    background: #f1f1f1;
    border-radius: 5px;
}

.inputStyle label {
    margin: 5px;
}

.inputStyle input:focus {
    border: 1px solid var(--mantine-color-primary-6) !important;
}

.countryCode {
    border: none !important;
    background: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
}

.signupForm {
    /*
    */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* row-gap: 15px; */
    /* width: 85%; */
    /* max-width: 950px; */
    /* background : green; */
    height: full;
    width: 100%;
    /* background : yellow; */
    padding: 0;
}

.applyBtn {
    background-color: var(--mantine-color-primary-6);
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    height: auto;
}

.applyBtnSkip {
    color: var(--mantine-color-primary-6);
    border: 2;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    height: auto;
}

.inputCont {
    display: fex;
    justify-content: space-between;
}

.phoneInput {
    margin: 0;
    width: 100%;
}

.wrapper {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.multiSelect {
    width: 70%;
}

@media (max-width: 1200px) {
    .multiSelect {
        width: 100%;
    }
    .centerOnMobile {
        text-align: center;
    }
    .page {
        /* flex-direction: column; */
        /* Stack elements vertically on smaller screens */
        height: auto;
        /* background : red; */
        /* Let the content dictate the height */
    }
    .logo {
        display: none;
        /* background-color: rgba(35, 166, 240, 0.12);
        width: 100%;
        height: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative; */
    }
    .logoImg {
        display: none;
    }
    .logoImgResponsive {
        display: block;
        width: 60%;
        height: auto;
        object-fit: cover;
    }
    .signup {
        height: auto;
        align-items: start;
        justify-content: center;
    }
    .signupForm {
        width: 100%;
        padding: 0 15px;
    }
    .signupText {
        font-size: 25px;
        text-align: center;
        word-break: break-word;
    }
    .main_info {
        width: 100%;
        padding: 0;
        padding-top: 100px;
        word-break: break-word;
    }
}
