.controls {
    transition: opacity 150ms ease;
    opacity: 0;
}
.firstScreenContainerMoto {
    @media (max-width: $mantine-breakpoint-md) {
        text-align: center;
        font-size: xx-large;
    }
    @media (max-width: $mantine-breakpoint-sm) {
        text-align: center;
        font-size: x-large;
    }
}
