.card:hover {
    scale: 1.02;
    transition: 0.2s;
    cursor: pointer;
}

.checkBox {
    all: unset;
    padding: 10px 5px;
    width: 285px;
    cursor: pointer;
    margin: 0px;
}

.checkBox:hover {
    background-color: #e9edf7;
    transition: background-color 0.2s;
}
