.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    @media (max-width: $mantine-breakpoint-xs) {
        width: 100%;
    }
}

.input_label {
    text-transform: capitalize;
}
