.firstScreenContainerMoto {
    text-align: 'left';
    @media (max-width: $mantine-breakpoint-md) {
        text-align: center;
        font-size: xx-large;
    }
    @media (max-width: $mantine-breakpoint-sm) {
        text-align: center;
        font-size: x-large;
    }
}
.firstScreenContainerText {
    text-align: 'left';
    @media (max-width: $mantine-breakpoint-md) {
        text-align: center;
        font-size: smaller;
    }
}
.firstScreenContainerButtonText {
    text-align: 'left';
    @media (max-width: $mantine-breakpoint-md) {
        text-align: center;
        font-size: medium;
    }
}
.container {
    display: flex;
    align-items: center;
    @media (min-width: $mantine-breakpoint-lg) {
        align-items: start;
    }
}
