.page {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.logo {
    /* background-color: rgba(35, 166, 240, 0.12); */
    height: 100%;
    padding: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImg {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    object-fit: cover;
}

.logoImgResponsive {
    display: none;
}

.input {
    border: 1px solid var(--mantine-color-primary-6);
    background-color: rgba(35, 166, 240, 0.05);
}

.signup {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    overflow: auto;
}

.signupText {
    color: var(--mantine-color-primary-6);
    font-size: 35px;
}

.signupForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
    width: 60%;
    margin: 0 auto;
    max-width: 550px;
}

.applyBtn {
    background-color: var(--mantine-color-primary-6);
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    height: auto;
}

@media (max-width: 1200px) {
    .page {
        flex-direction: column;
        /* Stack elements vertically on smaller screens */
        height: auto;
        /* Let the content dictate the height */
    }
    .logo {
        background-color: rgba(35, 166, 240, 0.12);
        width: 100%;
        height: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logoImg {
        display: none;
    }
    .logoImgResponsive {
        display: block;
        width: 60%;
        height: auto;
        object-fit: cover;
    }
    .signup {
        height: auto;
        align-items: start;
    }
    .signupForm {
        width: 75%;
    }
    .signupText {
        font-size: 25px;
        text-align: center;
    }
}
