.firstScreenContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstScreenContainerMoto {
    text-align: 'left';
    @media (max-width: $mantine-breakpoint-md) {
        text-align: center;
        font-size: xx-large;
    }
}

.firstScreenContainerText {
    text-align: 'left';
    @media (max-width: $mantine-breakpoint-md) {
        text-align: center;
        font-size: large;
    }
}
.firstScreenText {
    text-align: 'left';
    @media (max-width: $mantine-breakpoint-md) {
        text-align: center;
        font-size: large;
    }
    @media (max-width: $mantine-breakpoint-sm) {
        text-align: center;
        font-size: small;
    }
}
.hireButton {
    display: flex;
    align-items: center;
    @media (min-width: $mantine-breakpoint-md) {
        align-items: start;
    }
}
